
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd; height:120px; border-bottom: 1px solid #C6E0F5;">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"  style="margin:  auto!important; ">
        <li class="nav-item active">
       <!--   <a class="nav-item nav-link" th:href="@{/register}" th:text="#{Register}"></a>
        -->
          <a class="nav-item nav-link" th:href="@{/register}" th:text="Регистрация"></a>
        </li>
        <li class="nav-item active">
         <!-- <a class="nav-item nav-link" th:href="@{/login}" th:text="#{Sign.Info}"></a>
          -->
          <a class="nav-item nav-link" th:href="@{/login}" th:text="Войти"></a>
        </li>
    </div>

</nav>

    